<h1 class='center'>Matching Game</h1>

<div class='container'>
	<div class='row'>
		<div class='col s2 grid-cell hidden' id='flip1'>1</div>
		<div class='col s2 grid-cell hidden' id='flip2'>1</div>
		<div class='col s2 grid-cell hidden' id='flip3'>2</div>
		<div class='col s2 grid-cell hidden' id='flip4'>2</div>
	</div>

	<div class='row'>
		<div class='col s2 grid-cell hidden' id='flip5'>3</div>
		<div class='col s2 grid-cell hidden' id='flip6'>3</div>
		<div class='col s2 grid-cell hidden' id='flip7'>4</div>
		<div class='col s2 grid-cell hidden' id='flip8'>4</div>
	</div>

	<div class='row'>
		<div class='col s2 grid-cell hidden' id='flip9'>5</div>
		<div class='col s2 grid-cell hidden' id='flip10'>5</div>
		<div class='col s2 grid-cell hidden' id='flip11'>6</div>
		<div class='col s2 grid-cell hidden' id='flip12'>6</div>
	</div>

	<div class='row'>
		<div class='col s2 grid-cell hidden' id='flip13'>7</div>
		<div class='col s2 grid-cell hidden' id='flip14'>7</div>
		<div class='col s2 grid-cell hidden' id='flip15'>8</div>
		<div class='col s2 grid-cell hidden' id='flip16'>8</div>
	</div>
</div>
